<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.remote.TSpiderAddressMapper">
    <select id="getAddressIdByHospitalName" resultType="map" parameterType="java.lang.String">
        select city.Id as cityId, city.ProvinceId as provinceId
        from t_city city,
             t_spider_hospital_sources sources
        where sources.Name = #{hospital,jdbcType=VARCHAR}
          and sources.City = city.CityName
    </select>
    <select id="listAllCities" resultType="string">
        select CityName
        from t_city;
    </select>
</mapper>